@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: black;
    height: 1px;
  }

h3 {
  font-size:x-large;
  font-weight: 800;
}

h1 {
  font-size:xx-large;
  font-weight: 800;
}